@charset "utf-8";
/* CSS Document */

h1 {color: blueviolet;
	font-family: Poppins}
.experiencia {font-family: Poppins}
.fines {font-family: "Montserrat Medium"; font-style: italic;font-size: 14px}
.casa  {font-family: "Montserrat Medium"; font-style: italic;font-size: 14px}
.cv {font-family: Poppins}
	
