@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "poppins" 'sans-serif';
	src: url("fonts/Poppins-Regular.ttf");
	font-weight: normal;
	font-style: normal}

body {
    font-family: "Poppins";
background-color: #EDE3D9}

header {    background-color: #805CA5;
     width: 100%;
    font-family: Poppins, Montserrat, "sans-serif";
    font-weight: bold;
    color: black;
    display: flex;
	align-items: center;
	flex-flow: row;}

.menu { display: flex;
	list-style-type: none;}
 

.menu li a {
 text-decoration: none;
 color: #fff;
 font-size: 16px;
}

.menu li a:hover {
 color: #ccc;
}

h1 {color: #805CA5;
	margin-left: 25px;
	margin-top: 60px;
}
.galería {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.galería img {
	width: 25%;
	padding: 15px;
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.gallery img {
	width: 49%;}
}

@media (min-width: 1024px) {
	.gallery img {
	width: 32%;}
}
footer {
	background-color: #805CA5;
	width: 100%;
	color: black;
	text-align:center;
	font-family: Poppins, Montserrat, "sans-serif";
	padding: 5%;}