@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;700&family=Roboto+Mono:wght@300;400&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
}


header {    background-color: #805CA5;
     width: 100%; 
    font-family: Poppins, Montserrat, "sans-serif";
    font-weight: bold;
    color: black;
    display: flex;
	align-items: center;
	flex-flow: row;}

.menu { display: flex;
	list-style-type: none;}
 

.menu li a {
 text-decoration: none;
 color: #fff;
 font-size: 16px;
}

.menu li a:hover {
 color: #ccc;
}

main {display: flex;}

aside {background-color:#BEABD0;
	width: 50%;}

.foto {display: flex;
	width: 20%;
	height: 25%;
}

.contacto h2 {font-family: Poppins, Montserrat, "sans-serif";
	font-size: 1.5em;
	margin-left: 30%;
	margin-top: 10%;}

.botones-izquierda{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.svg {
	list-style: none;
	padding-top: 5%;
}

.botonera {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.botonera li {
	padding :0.7%;
	/*margin-left: 40%;*/
}

.botonera a {
	text-decoration: none;
	display: flex;  
	justify-content:space-around;
	align-items:center;
	background-color: #805CA5;
	color:black;
	font-family:Poppins, Montserrat, "sans-serif";
	border-radius:4px;
	width:10em;
	height:2em
}

.intereses {
	font-family: Poppins, Montserrat, "sans-serif";
	margin-left: 10%;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: initial;
}

.intereses li {margin-top: 4%}

.idiomas {
	font-family: Poppins, Montserrat, "sans-serif";
	padding-top: 16px;
	margin-left: 10%;
	margin-top: 10%;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;}

.informatica {font-family: Poppins, Montserrat, "sans-serif";
	margin-left: 10%;
	margin-top: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: initial;}
.informatica li {margin-top: 4%}

section {margin-left: 10%; padding: 4%}

.contenedor {display: flex;
background-color: #EDE3D9}

.perfil {font-family: Poppins, Montserrat, "sans-serif";
padding: 5%}
.experiencia {font-family: Poppins, Montserrat, "sans-serif";
padding: 2%}
.trabajos {font-family: Poppins, Montserrat, "sans-serif";
padding: 5%}
.formacion {font-family: Poppins, Montserrat, "sans-serif";
padding-top:2%}

.estudios{font-family: Poppins, Montserrat, "sans-serif";
padding: 5%}

footer {
	background-color: #805CA5;
	width: 100%;
	color: black;
	text-align:center;
	font-family: Poppins, Montserrat, "sans-serif";
	padding: 5%;}